body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.slider {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  background: #65a5e1;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #449d48;
}

#message {
  color: red;
  height: 20px;
  font-weight: bold;
}